.slider-container{
    width: 86%;
    margin-left: 7%;
    margin-right: 7%;
}

.slide-card{
    position: relative;
    border: solid 0.5px aliceblue;
    background:  rgb(255, 255, 255);
    border-radius: 20px;
    margin: 60px;
    width: 220px;
    height: 280px;
    -webkit-box-shadow: 4px 3px 46px -18px rgb(66,153,225);
    -moz-box-shadow: 4px 3px 46px -18px rgb(66,153,225);
    box-shadow: 4px 3px 46px -18px rgb(66,153,225);
}
.slide-card-content .image{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: rgb(66,153,225);
}
.bluefon{
    color: rgb(66,153,225);;
}
.slide-card .image img{
    height: 100%; width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid aliceblue;
}
.sac_22_head{
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}
.slide-card::before{
    content: "";
    position: absolute;
    height: 40%; width: 100%;
    background: rgb(66,153,225);
    border-radius: 20px 20px 0 0;
}
.slide-card .slide-card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}
.slide-card .media-icons {
    position: absolute;
    top: 10px; right: 20px;
    display: flex; flex-direction: column;
    align-items: center;
}
.slide-card .media-icons i{
    margin-top: 10px;
    opacity: 0.6;
    color: aliceblue;
    transition: all 0.3s ease;
    cursor: pointer;
}
.slide-card .media-icons i:hover{
    opacity:1;
}

.name{
    font-size:15px;
    font-weight: 600;
}

.slide-card button{
    background: rgb(66,153,225);
    outline: none;
    border: none;
    color: aliceblue;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    margin-top: 15px;
}
.slide-card button:hover{
    background: aliceblue;
    color: rgb(66,153,225);
    border: solid 1px rgb(66,153,225);
}


@media(max-width:542px){
    .slide-card{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
      
    }
}

.sac_comm{
    margin: 10px;
}

.card_sac_ssn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.slide-card{
    margin: 30px;
}